fastapi
uvicorn[standard]
httpx
python-dotenv
google-generativeai
pydantic-settings
sqlalchemy>=2.0,<2.1
passlib[bcrypt]
pyjwt
python-multipart
openpyxl
psycopg2-binary
prometheus-fastapi-instrumentator
